<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Rice Information</title>
</head>

<body>
    <div class="navbar">
        <button onclick="goBack()">Back</button>
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='images/rice.jpeg') }}" alt="Rice field">

        <div class="info">
            <h2>Weather Conditions Suitable for Rice</h2>
            <p>Rice grows best in warm, tropical climates with high humidity. It requires a lot of water and is typically cultivated in flooded fields known as paddies.</p>
            <p>Key weather conditions for rice cultivation include warm temperatures, abundant sunlight, and consistent water supply.</p>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
